.add-button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1vw;
    margin: 1vw 1vw 1vw 0vw;
    height: 5vh;
    width: 8vw;
    border-radius: 5px;
    background-color: rgb(37, 99, 255);
    color: white;
    cursor: pointer;
}


.add-section{
    margin: 3vw 0 0 0 ;
   
}
.add-form{
    display: flex;
    flex-direction: row;
    margin: 1vw 1vw 2vw 0;
    width: 80vw;
    justify-content: space-between;
}

.add-section-action-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2.2vh;
}